@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<WebApp.Classes.SharedResource> SharedLocalizer


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Стоматология Чернигов ..." />
    <meta name="Keywords" content="стоматологический кабинет 'Весела усмішка', весела усмишка, весела усмішка, стоматология, стоматология Чернигов, лечение зубов, зубная боль, стоматолог, зубной врач">

    <title>
        @SharedLocalizer["NameClinic"] "Весела усмішка"
    </title>
    <link href="~/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300, 400, 700" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">

    <link rel="stylesheet" href="~/fonts/ionicons/css/ionicons.min.css">
    @*<link rel="stylesheet" href="~/Content/fonts/fontawesome/css/font-awesome.min.css">*@
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    @*<link rel="stylesheet" href="~/css/style.css">*@
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header role="banner">
        <div class="top-bar">
            <div class="container">
                <div class="row">

                    <div class="col-md-9 col-sm-8 col-7 col-auto">
                        <ul class="social list-unstyled">
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100011895847296" target="_blank">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </li>

                        </ul>
                    </div>



                    @*<div class="col-md-3 col-sm-4 col-5 col-auto">
                        @await Html.PartialAsync("_SelectLanguagePartial")
                    </div>*@

                    <div>

                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block" href='@Url.Action("Index", "Home")'>
                        <h4 class="text-dark align-middle" style="font-size: 1.3rem;">
                            <b>
                                @SharedLocalizer["NameClinic"]
                                <br />
                                <span class="text-uppercase ">"Весела усмішка"</span>
                            </b>
                        </h4>
                    </a>

                    <a class="d-block d-sm-none d-none d-sm-block d-md-none" href='@Url.Action("Index", "Home")'>
                        <h4 class="text-dark align-middle" style="font-size: 1.3rem;">
                            <b>
                                <small>
                                    @SharedLocalizer["NameClinic"]
                                    <br />
                                    <span class="text-uppercase ">"Весела усмішка"</span>
                                </small>
                            </b>
                        </h4>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarsExample05">
                        <ul class="navbar-nav ml-auto" style="font-size: 18px;">

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" id="Index">
                                    @SharedLocalizer["Index"]
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About" id="About">
                                    @SharedLocalizer["About"]
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ServicesAndPrices" id="ServicesAndPrices">
                                    @SharedLocalizer["ServicesAndPrices"]
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Appointment" id="Appointment">
                                    @SharedLocalizer["ReceptionAtReception"]
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact" id="Contact">
                                    @SharedLocalizer["Contacts"]
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer" role="contentinfo">
        <div class="container">                        
            <div class="row pt-md-3">
                <div class="col-md-12">
                    <hr class="border-t">
                </div>
                <div class="col-md-6 col-sm-12 copyright">
                    <p>
                        @SharedLocalizer["NameClinic"]
                        "Весела усмішка" &copy; &nbsp; 2018
                    </p>
                </div>
                <div class="col-md-6 col-sm-12 text-md-right text-sm-left">
                    <a class="p-2" href="https://www.facebook.com/profile.php?id=100011895847296" target="_blank">
                        <span class="fa fa-facebook"></span>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/scripts/owl.carousel.min.js"></script>
    <script src="~/scripts/bootstrap-datepicker.js"></script>
    <script src="~/scripts/jquery.timepicker.min.js"></script>
    <script src="~/scripts/jquery.waypoints.min.js"></script>
    <script src="~/scripts/main.js"></script>

    @*<script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $("#@(ViewContext.RouteData.Values["Action"])").addClass("active");

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
