@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    // получаем сервис IRequestCultureFeature
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    // получаем список поддерживаемых культур
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
        .ToList();
}

@*<form asp-controller="Home" asp-action="SetLanguage" style="margin-top:20px;"
          asp-route-returnUrl="@Context.Request.Path"
          method="post" class="form-horizontal top-bar">

        <select name="culture" onchange="this.form.submit();"
                asp-for="@requestCulture.RequestCulture.UICulture.Name"
                asp-items="cultureItems"
                class="">
        </select>
    </form>*@


@Html.ActionLink("UA", "SetLanguage", "Home",
    new { culture = "uk", returnUrl = @Context.Request.Path },
    new { id = "language-ua", @class = "button-for-language", style = "padding: 5px;" })
<span style="color: #80d8ff; font-size: 13px;">|</span>
@Html.ActionLink("RU", "SetLanguage", "Home",
    new { culture = "ru", returnUrl = @Context.Request.Path },
    new { id = "language-ru", @class = "button-for-language", style = "padding: 5px;" })
